<h2>Search: <span style="font-weight:normal;font-size:0.9em"><%= current_search_query(params) %></span></h2>

<% if @sources.none? %>
  <p>No sources found.</p>
<% else %>
  <%= render 'sources', :sources => @sources %>
<% end %>
